<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="static/js/underscore.js"></script>
    <link href="static/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
    <link href="static/foundation-2.2/stylesheets/foundation.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<title>Dendrite Network</title>
    <script type="text/javascript">
$(function() {
});
    </script>
</head>
<body>
<div class="container">

<div class="row"><div class="twelve columns" >&nbsp;</div></div>

<div class="row">
    <div class="twelve columns" ><div class="panel">
        <h1>Dendrite Network</h1>
    </div></div>
</div>

<div class="row">
    <div class="twelve columns" ><div id="slider" class="panel">
    </div></div>
</div>

</div>
</body>
</html>
