<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="language" content="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="static/js/underscore.js"></script>
    <link href="static/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet">
    <link href="static/foundation-2.2/stylesheets/foundation.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
	<title>Dendrite Network</title>
    <script type="text/javascript">
$(function() {
});
    </script>
</head>
<body>
<div class="container">
<div class="row"><div class="twelve columns" >&nbsp;</div></div>
<div class="row">
    <div class="twelve columns" ><div class="panel">
        <h1>Dendrite Network</h1>
    </div></div>
</div>
<div class="row">
<div class="six columns" >
    <div id="slider" class="panel">
    <ul>
        <li><span class="heavy">Consumers</span> get good products and the warmth of knowing their purchases help the community</li>
        <li><span class="heavy">Vendors</span> get rapid access to effectively all potential market/customers</li>
        <li><span class="heavy">All Participants</span> get a zero-risk zero-cost income-creating game to play</li>
    </ul>
    </div>
</div>
<div class="six columns" >
    <div id="show" class="panel">
        <p>The economic facts of life are changing.</p>

        <p>We're creating a network of relationships and economic exchanges to go along with
        this transformation. It will allow us to surf the transition with ease and comfort.</p>

        <p>The Dendrite Network is something that's <em>already happening</em>.</p>

        <p>We're just making it explicit and bringing it into conscious awareness.</p>
    </div>
</div>
</div>
<div class="row">
    <div class="twelve columns" ><div class="panel">
        <center><span class="heavy">How It Works</span></center>
        <br>
    </div></div>
</div>
<div class="row">
    <div class="four columns" ><div class="panel third">
        <div class="c_head">Consumers</div>

        <p class="just">Get timely offers from people you know.</p>

        <p class="just">Provide feedback (positive, negative, comments) directly to vendors.</p>

        <p class="just">Make purchases.</p>

        <p class="just">Some of the amount of your purchases goes to people in your network.</p>

    </div></div>
    <div class="four columns" ><div class="panel third">
        <div class="c_head">Participants</div>

        <p class="just">Pass offers on to other people you know.</p>

        <p class="just">Collect propagation fees from purchases made by people in your network.</p>

        <p class="just">No Risk</p>

        <p class="just">No Cost</p>

    </div></div>
    <div class="four columns" ><div class="panel third">
        <div class="c_head">Vendors</div>

        <p class="just">Reach your customers quickly through friendly word-of-mouth.</p>

        <p class="just">Get direct response to your offers and products.</p>

        <p class="just">Complete control of costs.</p>

        <p class="just">Pay only for actual sales.</p>

    </div></div>
</div>
<div class="row">
    <div class="twelve columns" ><div class="panel">


    <div class="row">
        <div class="twelve columns" >
          <center>
        <a href="http://firequery.blogspot.com/2012/04/so-what-is-this-dendrite-network-anyway.html"><span class="heavy">Interested?</span></a>
          </center>
        </div>
    </div>
  <br>
  <hr>

    <div class="row">
        <div class="seven columns" >
        <span class="heavy">About:</span> <a href="http://firequery.blogspot.com/">Read my blog for more info</a> or follow me on Twitter &gt;&gt;
        </div>
        <div class="five columns" >
          <center>
            <a href="https://twitter.com/SimonForman" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @SimonForman</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </center>
        </div>
    </div>

  <br>
    </div></div>
</div>
</div>
</body>
</html>
