@import url(http://fonts.googleapis.com/css?family=Fascinate|Cutive);


body {
    font-family: 'Cutive', serif;
    background-color: #f8f8f8;
}

#slider, #show {
    height: 203px;
}

h1 {
    font-family: 'Fascinate', cursive;
    font-size: 72px;
    font-weight: normal;
    color: #520066;
    text-align: center;
}

span.heavy {
    font-weight: bold;
    font-size: large;
}

div.c_head {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-bottom: 1em;
    color: #520066;
}

.just {
    text-align: justify;
}

div.third {
    height: 258px;
}


div#tag_display {
    display: none;
}

div#urly_display {
    padding: 0.5em 2em;
}

.taggy {
    border: 1px solid orange;
    background-color: #ddffdd;
    padding: 0.5em 2em;
    width: 50%;
    margin-bottom: 1em;
}

.taggy_like {
    border: 1px solid orange;
    background-color: #ddffdd;
    padding: 1.5em;
    margin-bottom: 1em;
}

#dn_logo {
    background-image: url('/static/DN.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: -20px;
    margin-left: -10px;
    padding-top: 20px;
    padding-left: 20px;
}

iframe {
    width: 100%;
    height: 760px;
}

.rejform {
  padding: 1em;
}

label {
  display: inline-block ! important;
}

